name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: "yarn"
      - name: Install dependencies and Build
        run: yarn install --frozen-lockfile
      - name: Lint code
        run: yarn lint
      - name: Test
        run: yarn test --collectCoverage --silent
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
